RESEND_API_KEY=

# Payload CMS
# Railway -> servicio Postgres -> Variables -> DATABASE_PUBLIC_URL
DATABASE_URI=postgresql://postgres:password@host.proxy.rlwy.net:12345/railway
PAYLOAD_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
