.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item a {
  color: $body_text;
  font-size: 17px;
}

.breadcrumb-item.active {
  color: $body_text;
  font-size: 17px;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: $gray !important;
}

.breadcrumb-area h4 {
  margin-top: 10px;
}
